// Material Theming

// Define theme variables before importing any MDC Web component styles
// $mdc-theme-primary: midnightblue;

// Import the styles for each MDC Web component
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/elevation/mdc-elevation";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";

// Body
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// Override line height on body text
.mdc-typography--body2 {
  line-height: 1.8;
}

// Style intro text
.introText {
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  color: dimgray;
}

// Login Container
.loginContainer {
  max-width: 350px;
  text-align: center;
  padding: 32px;
}

// Inputs {
.mdc-text-field {
  width: 100%;
  margin-bottom: 16px;
}

// Action button container 
.actionContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

.getHelp {
  margin-right: 16px;
  color: gray;
}

// override button text styles
.checkboxLabel {
  color: dimgray;
  font-size: 90%;
}

.mdc-text-field__icon.revealPassword {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 2;
  pointer-events: all;
}